.right-down-navbar{
    margin-right: 1rem;
    margin-top: 5px;
}

.right-down-navbar{
    display: flex;
    height: 100%;
}

.right-down-navbar .debit{
    padding: 0 1rem 0 1rem;
    line-height: 2.5rem;
}

.right-down-navbar .credit{
    padding: 0 1rem 0 1rem;
    line-height: 2.5rem;
}

.right-down-navbar .debit:hover{
    cursor: pointer;
    border-top: 0.2px solid #508484;
    border-left: 0.2px solid #508484;
    border-radius: 5px;
}

.right-down-navbar .credit:hover{
    cursor: pointer;
    border-top: 0.2px solid #508484;
    border-right: 0.2px solid #508484;
    border-radius: 5px;
}

.debit-active{
    background-color: #508484;
    color: #e5fcff;
    border-radius: 6px 6px 0 0;
}

.credit-active{
    background-color: #508484;
    color: #e5fcff;
    border-radius: 6px 6px 0 0;
}

.manage-down-navbar{
    padding: 0;
    height: 2.5rem;
}

.left-down-navbar{
    margin-left: 1rem;
}