.add{
    border: none;
    background-color: #508484;
    border-radius: 5px;
    color: white;
    margin-bottom: 0.2rem;
}

.add-form-manage{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 10px;
}

.add-form-manage input{
    width: 65%;
    text-align: center;
    border: none;
    font-size: 0.85rem;
}

.add-form-manage select{
    width: 65%;
    text-align: center;
    border: none;
    font-size: 0.85rem;
}