
.manage-list{
    min-width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.manage-thead{
    background-color: #508484;
    color: #e5fcff;
    padding: 0.5rem 0 0.5rem 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0rem 1rem 0 1rem;
    border-radius: 5px;
    padding: 0.25rem 0 0.25rem 0;
    font-weight: bold;
}

.manage-tbody-inner{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0.5rem 1rem 0 1rem;
    border-radius: 5px;
    background-color: #508484;
    color: #e5fcff;
    padding: 0.25rem 0 0.25rem 0;
}

.manage-action{
    display: flex;
    justify-content: space-evenly;
}