.add-form-distribute{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.add-form-distribute input{
    width: 65%;
    text-align: center;
    border: none;
    font-size: 0.85rem;
}

@media screen and (max-width: 650px) {
    .add-form-distribute input{
        font-size: smaller;
    }
}

@media screen and (max-width: 530px){
    .add-form-distribute input{
        font-size: xx-small;
    }
}