.distribute-list {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.distribute-thead{
    background-color: #508484;
    color: white;
    padding: 0.5rem 0 0.5rem 0;
}

.distribute-tbody{
    padding: 0.5rem 0 0 0;
}

.distribute-thead {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0rem 1rem 0 1rem;
    border-radius: 5px 0 5px 5px;
    padding: 0.25rem 0 0.25rem 0;
    font-weight: bold;
}

.distribute-tbody-inner{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0.5rem 1rem 0 1rem;
    border-radius: 5px;
    background-color: #508484;
    color: white;
    padding: 0.25rem 0 0.25rem 0;
}

.edit {
    color: white;
}

.delete {
    color: white;
}

.distribute-action{
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 650px) {
    .distribute-list{
        font-size: smaller;
    }
}

@media screen and (max-width: 530px){
    .distribute-list{
        font-size: xx-small;
    }
}