.logo{
    font-family: 'Rubik Maps', system-ui;
    font-size: x-large;
}

.left{
    width: 50%;
    margin-left: 1rem;
}

.manage-navbar{
    background-color: rgb(80, 80, 255);
    padding: 0%;
    height: 3rem;
}

.right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.right a{
    margin-right: 1rem;
}