.link{
    color: black;
}

.link:hover{
    color: black;
}

.nav-manage-button{
    display: flex;
    line-height: 3rem;
    padding: 0 0.5rem 0 0.5rem;
    color: #30292f;
}

.nav-manage-button:hover{
    background-color: #acacde;
    color: #30292f;
}

.nav-manage-button-active{
    background-color: #acacde;
    color: #30292f;
    height: 100%;
    border-radius: 6px 6px 0 0;
}